@page "{restaurantId:int}"
@*powyższy zapis określa jaki typ musi być przyjmowany jako parametr, zapytajnik ustawiany na samym końcu sprawia że nie musi być parametr podany, nazwa parametru musi być taka jak w asp-route*@
@model OdeToFood.Pages.Restaurants.DeteailModel
@{
    ViewData["Title"] = "Deteail";
}

<h2>Name: @Model.Restaurant.Name</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-default">All restaurants</a>
